<div id="page" style="background: #f2f2f2; height: 100%">
  <div style="display: flex;justify-content: space-between;padding-top: 20px;">
  <div>
  <button class="btn btn-outline-secondary" type="button" (click)="blockService.enableMetamask()">Enable MetaMask</button>
  <button class="btn btn-outline-secondary" type="button" (click)="blockService.getBalance()">Get ContractBalance</button>
  <button class="btn btn-outline-secondary" type="button" (click)="withdrawEther()">Withdraw Funds</button>
</div>
<div style="display: flex;">
  <button class="btn btn-outline-secondary" type="button" (click)="getFunds()">get Funds For:</button>
  <button class="btn btn-outline-secondary" type="button" (click)="getCounter()">get Counter For:</button>
  <input style="width: 200px;" class="form-control" type="text" [(ngModel)]="idForFunds" placeholder="Id For Ad">
  <input style="width: 200px;" class="form-control" type="text" [(ngModel)]="fundsToAdd" placeholder="Funds in Ether">
  <button class="btn btn-outline-secondary" type="text" (click)="augmentAds()">Add Funds</button>
</div>
</div>
  <div style="display:flex;">
    <div class="container" style="height: 100vh">
      <img [src]='upperLeft' height="400" width="500" style="margin:20px 0px">
      <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()" style="width: 500px">
        <div class="row">
          <div class="col-sm-6">
            <div class="custom-file">
              <input type="file" class="custom-file-input" id="upperLeft" name="uploadedImage"
                     (change)="onFileSelect($event)" #UploadFileInput>
              <label class="custom-file-label" for="upperLeft">{{fileInputLabel || 'Choose File'}}</label>
            </div>
          </div>
          <div class="col-sm-6">
            <button class="btn btn-primary" type="submit">Upload</button>
          </div>
        </div>
      </form>
    </div>

    <div style="background: white; height: 100%; padding: 0 30px">
      <h1>Frontend for Bachelor</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec consequat dolor nibh. Fusce vestibulum
        pellentesque
        nulla, mattis sodales justo cursus et. Vivamus pharetra lobortis hendrerit. Nulla nunc risus, accumsan in nunc
        et,
        hendrerit lacinia eros. Nam fermentum dignissim leo, nec gravida mauris lacinia eget. Aliquam consequat eget
        ligula
        eget viverra. Sed venenatis vehicula nunc dapibus scelerisque. Etiam quis pharetra nulla. Mauris tristique in
        felis
        eget fringilla. Donec faucibus augue quis elit eleifend auctor. Quisque sit amet orci pulvinar, consequat lorem
        quis, lacinia magna. Morbi condimentum sit amet enim non varius. Pellentesque vel magna dolor. Praesent sit amet
        facilisis nisi. </p>

    </div>
    <div style="display:flex;">
      <div class="container" style="height: 100vh">
        <img [src]='upperRight' height="400" width="500" style="margin:20px 0px">
      </div>

    </div>
  </div>
</div>
